<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleShortVersionString</key>
	<string>rev13-test8</string>
	<key>CFBundleVersion</key>
	<string>1308</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>hu.mplayerhq.mplayerosx.extended</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Real Time (Streaming) Protocol</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rtp</string>
				<string>rtsp</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>File over HTTP/FTP/UDP</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>icyx</string>
				<string>udp</string>
				<string>ftp</string>
				<string>http_proxy</string>
				<string>http</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Microsoft Media Services</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mms</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Cuesheet</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cue</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>CD/DVD Media</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dvdnav</string>
				<string>dvd</string>
				<string>vcd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>binaries.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpBinaries</string>
				<string>mpbinaries</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPlayer Binary Package</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aac</string>
				<string>ac3</string>
				<string>aiff</string>
				<string>ape</string>
				<string>flac</string>
				<string>m4a</string>
				<string>mka</string>
				<string>mp3</string>
				<string>ogg</string>
				<string>pcm</string>
				<string>ra</string>
				<string>vaw</string>
				<string>waw</string>
				<string>wav</string>
				<string>wma</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>audio.icns</string>
			<key>CFBundleTypeName</key>
			<string>Audio file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp</string>
				<string>3iv</string>
				<string>asf</string>
				<string>avi</string>
				<string>asf</string>
				<string>bin</string>
				<string>cpk</string>
				<string>dat</string>
				<string>divx</string>
				<string>dv</string>
				<string>dvr-ms</string>
				<string>fli</string>
				<string>flv</string>
				<string>h264</string>
				<string>i263</string>
				<string>m1v</string>
				<string>m2t</string>
				<string>m2ts</string>
				<string>m2v</string>
				<string>m4v</string>
				<string>mkv</string>
				<string>mov</string>
				<string>mp2</string>
				<string>mp4</string>
				<string>mpeg</string>
				<string>mpg</string>
				<string>mpg2</string>
				<string>mpg4</string>
				<string>mpv</string>
				<string>mqv</string>
				<string>nut</string>
				<string>nuv</string>
				<string>nsv</string>
				<string>ogg</string>
				<string>ogm</string>
				<string>ogv</string>
				<string>qt</string>
				<string>ram</string>
				<string>rec</string>
				<string>rm</string>
				<string>rmvb</string>
				<string>ts</string>
				<string>vcd</string>
				<string>vfw</string>
				<string>vob</string>
				<string>wmv</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movie.icns</string>
			<key>CFBundleTypeName</key>
			<string>Movie file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aqt</string>
				<string>ass</string>
				<string>idx</string>
				<string>jss</string>
				<string>rt</string>
				<string>smi</string>
				<string>srt</string>
				<string>ssa</string>
				<string>sub</string>
				<string>txt</string>
				<string>utf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>subtitles.icns</string>
			<key>CFBundleTypeName</key>
			<string>Subtitles file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleHelpBookFolder</key>
	<string>MPlayer OSX Help</string>
	<key>CFBundleHelpBookName</key>
	<string>MPlayer OSX Help</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>MPHQ</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>http://mplayerosx.sttz.ch/updates.xml</string>
	<key>SUPrereleaseFeedURL</key>
	<string>http://mplayerosx.sttz.ch/prereleases.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>CFBundleHomepage</key>
	<string>http://mplayerosx.sttz.ch/</string>
	<key>MPEBinaryMinRevision</key>
	<string>29777</string>
</dict>
</plist>
