<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aac</string>
				<string>ac3</string>
				<string>mp3</string>
				<string>wma</string>
				<string>waw</string>
				<string>pcm</string>
				<string>vaw</string>
				<string>ogg</string>
				<string>mka</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>audio.icns</string>
			<key>CFBundleTypeName</key>
			<string>Audio file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nut</string>
				<string>NUT</string>
				<string>mpg</string>
				<string>MPG</string>
				<string>mpeg</string>
				<string>MPEG</string>
				<string>mp2</string>
				<string>MP2</string>
				<string>mpg2</string>
				<string>MPG2</string>
				<string>mp4</string>
				<string>MP4</string>
				<string>mpg4</string>
				<string>MPG4</string>
				<string>avi</string>
				<string>AVI</string>
				<string>asf</string>
				<string>ASF</string>
				<string>wmv</string>
				<string>WMV</string>
				<string>qt</string>
				<string>QT</string>
				<string>mov</string>
				<string>MOV</string>
				<string>fli</string>
				<string>FLI</string>
				<string>vcd</string>
				<string>VCD</string>
				<string>cpk</string>
				<string>CPK</string>
				<string>rm</string>
				<string>RM</string>
				<string>vob</string>
				<string>VOB</string>
				<string>3iv</string>
				<string>3IV</string>
				<string>dat</string>
				<string>DAT</string>
				<string>ogg</string>
				<string>OGG</string>
				<string>ogm</string>
				<string>OGM</string>
				<string>divx</string>
				<string>DIVX</string>
				<string>i263</string>
				<string>I263</string>
				<string>vfw</string>
				<string>VFW</string>
				<string>mkv</string>
				<string>MKV</string>
				<string>3gp</string>
				<string>3GP</string>
				<string>h264</string>
				<string>H264</string>
				<string>nuv</string>
				<string>NUV</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movie.icns</string>
			<key>CFBundleTypeName</key>
			<string>Movie file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sub</string>
				<string>srt</string>
				<string>txt</string>
				<string>rt</string>
				<string>smi</string>
				<string>ssa</string>
				<string>aqt</string>
				<string>jss</string>
				<string>utf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>subtitles.icns</string>
			<key>CFBundleTypeName</key>
			<string>Subtitles file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>MPlayer OSX PPC</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>hu.mplayerhq.mplayerosx_ppc</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>MPHQ</string>
	<key>CFBundleVersion</key>
	<string>1.0 rc2</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
