<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Defaults</key>
	<dict>
		<key>MPECheckForUpdatesIncludesPrereleases</key>
		<false/>
		<key>MPECacheSizeInMB</key>
		<integer>50</integer>
		<key>MPEDefaultAudioLanguages</key>
		<array/>
		<key>MPEDefaultSubtitleLanguages</key>
		<array/>
		<key>MPEAnimateInterfaceTransitions</key>
		<true/>
		<key>MPEScreenshotSaveLocation</key>
		<integer>4</integer>
		<key>MPEStartPlaybackDisplayType</key>
		<integer>0</integer>
		<key>MPEWindowOnTopMode</key>
		<integer>0</integer>
		<key>MPEGoToFullscreenOn</key>
		<integer>0</integer>
		<key>MPEFullscreenDisplayNumber</key>
		<integer>1</integer>
		<key>MPEBlackOutOtherScreensInFullscreen</key>
		<true/>
		<key>MPEFlipDisplayVertically</key>
		<false/>
		<key>MPEFlipDisplayHorizontally</key>
		<false/>
		<key>MPEDisplaySize</key>
		<integer>1</integer>
		<key>MPECustomSizeInPx</key>
		<integer>1280</integer>
		<key>MPEFont</key>
		<string>Myriad Pro</string>
		<key>MPEFontStyle</key>
		<string>Semibold</string>
		<key>MPETextEncoding</key>
		<string>None</string>
		<key>MPEGuessTextEncoding</key>
		<string>disabled</string>
		<key>MPELoadEmbeddedFonts</key>
		<true/>
		<key>MPERenderSubtitlesFirst</key>
		<false/>
		<key>MPESubtitleScale</key>
		<real>1.25</real>
		<key>MPESubtitleTextColor</key>
		<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEBAYY=</data>
		<key>MPESubtitleBorderColor</key>
		<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAAAAYY=</data>
		<key>MPEOSDLevel</key>
		<integer>1</integer>
		<key>MPEOSDScale</key>
		<real>0.75</real>
		<key>MPEEnableVideo</key>
		<true/>
		<key>MPEFastDecoding</key>
		<false/>
		<key>MPEDropFrames</key>
		<integer>1</integer>
		<key>MPEDeinterlaceFilter</key>
		<integer>0</integer>
		<key>MPEPostprocessingFilter</key>
		<integer>0</integer>
		<key>MPEEnableAudio</key>
		<true/>
		<key>MPEHardwareAC3Passthrough</key>
		<false/>
		<key>MPEHardwareDTSPassthrough</key>
		<false/>
		<key>MPEHRTFFilter</key>
		<false/>
		<key>MPEBS2BFilter</key>
		<false/>
		<key>MPEKaraokeFilter</key>
		<true/>
		<key>MPESelectedBinary</key>
		<string>ch.sttz.mplayerosx.extended.binaries.officialsvn</string>
		<key>MPEUpdateBinaries</key>
		<array>
			<string>ch.sttz.mplayerosx.extended.binaries.officialsvn</string>
			<string>ch.sttz.mplayerosx.extended.binaries.officialsvnwithmt</string>
		</array>
		<key>MPEUse32bitBinaryon64bit</key>
		<false/>
		<key>MPEAdvancedOptions</key>
		<array/>
	</dict>
	<key>RequiresRestart</key>
	<array>
		<string>MPECacheSizeInMB</string>
		<string>MPEDefaultAudioLanguages</string>
		<string>MPEDefaultSubtitleLanguages</string>
		<string>MPEScreenshotSaveLocation</string>
		<string>MPEFlipDisplayVertically</string>
		<string>MPEFlipDisplayHorizontally</string>
		<string>MPEFont</string>
		<string>MPEFontStyle</string>
		<string>MPETextEncoding</string>
		<string>MPEGuessTextEncoding</string>
		<string>MPELoadEmbeddedFonts</string>
		<string>MPERenderSubtitlesFirst</string>
		<string>MPESubtitleScale</string>
		<string>MPESubtitleTextColor</string>
		<string>MPESubtitleBorderColor</string>
		<string>MPEOSDScale</string>
		<string>MPEEnableVideo</string>
		<string>MPEOverrideVideoCodecs</string>
		<string>MPEFastDecoding</string>
		<string>MPEDeinterlaceFilter</string>
		<string>MPEPostprocessingFilter</string>
		<string>MPEEnableAudio</string>
		<string>MPEOverrideAudioCodecs</string>
		<string>MPEHardwareAC3Passthrough</string>
		<string>MPEHardwareDTSPassthrough</string>
		<string>MPEHRTFFilter</string>
		<string>MPEBS2BFilter</string>
		<string>MPEKaraokeFilter</string>
		<string>MPESelectedBinary</string>
		<string>MPEUse32bitBinaryon64bit</string>
		<string>MPEAdvancedOptions</string>
	</array>
</dict>
</plist>
