#!/bin/bash
# MPlayer OSX build scripts
# Adrian Stutz 2009

# **************************************************** #
# *** GLOBAL BUILD CONFIG

# For the other scripts to find this config, it should be added to $PATH.

# Path to the scripts folder (to reset $PATH correctly)
scripts_path="/Users/example/mplayerosx/Scripts"

# Path to the install root of mplayer builds
build_root="/Users/example/mplayer/usr/local"

# Path to the MPlayer OSX source root
mplayerosx_path="/Users/example/dev/mplayerosx"

# Path to the directory releases are stored
releases_path="/Users/example/dev/releases"