<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>flv.icns</string>
			<key>CFBundleTypeName</key>
			<string>Flash Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ape</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ape</string>
			<key>CFBundleTypeName</key>
			<string>Monkey&apos;s Audio Lossless Audio Compression</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flac</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>flac</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/flac</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FLAC Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>audio.icns</string>
			<key>CFBundleTypeName</key>
			<string>WavePack Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ram</string>
				<string>rm</string>
				<string>rmvb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rm.icns</string>
			<key>CFBundleTypeName</key>
			<string>RealPlayer Media Files</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mod</string>
				<string>xm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>audio.icns</string>
			<key>CFBundleTypeName</key>
			<string>MOD Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aiff</string>
				<string>aif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>aiff</string>
			<key>CFBundleTypeName</key>
			<string>AIFF file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dts</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>audio.icns</string>
			<key>CFBundleTypeName</key>
			<string>DTS Encoded Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>wav</string>
			<key>CFBundleTypeName</key>
			<string>WAVE Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vob</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vob.icns</string>
			<key>CFBundleTypeName</key>
			<string>VOB File (DVD Video)</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cue</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cue.icns</string>
			<key>CFBundleTypeName</key>
			<string>CUE file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>a52</string>
				<string>ac3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>audio.icns</string>
			<key>CFBundleTypeName</key>
			<string>Digital Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aac</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>aac</string>
			<key>CFBundleTypeName</key>
			<string>AAC file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movie.icns</string>
			<key>CFBundleTypeName</key>
			<string>Ogg MPEG-4 Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ogg.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/ogg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ogg Vorbis File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oga</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ogg.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/ogg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ogg Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ogg.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/ogg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ogg Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oma</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>audio.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sony OpenMG Music File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>voc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>audio.icns</string>
			<key>CFBundleTypeName</key>
			<string>Creative Labs Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>axv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movie.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/annodex</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Annodex Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
				<string>moov</string>
				<string>qt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mov.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/quicktime</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Apple QuickTime container</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>divx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>divx.icns</string>
			<key>CFBundleTypeName</key>
			<string>DivX file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>dv.icns</string>
			<key>CFBundleTypeName</key>
			<string>DV file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>asf.icns</string>
			<key>CFBundleTypeName</key>
			<string>Advanced Streaming Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>avi.icns</string>
			<key>CFBundleTypeName</key>
			<string>Audio Video Interleave</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wma</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>wma</string>
			<key>CFBundleTypeName</key>
			<string>WIndows Media Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wmv</string>
				<string>wm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>wmv.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows Media Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpg</string>
				<string>mpeg</string>
				<string>mpeg1</string>
				<string>mpeg2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpeg.icns</string>
			<key>CFBundleTypeName</key>
			<string>multiplexed MPEG-1/2</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m1v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpeg.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG-1 Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m2a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpeg.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG-1/2 Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp1</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpeg.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG Audio Layer 1</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpeg.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG Audio Layer 2</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mp3</string>
			<key>CFBundleTypeName</key>
			<string>MPEG Audio Layer 3</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m2p</string>
				<string>ps</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpeg.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG-2 Program Stream</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ts</string>
				<string>m2ts</string>
				<string>mts</string>
				<string>mt2s</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpeg.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/mp2t</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEG-2 Transport Stream</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m2v</string>
				<string>mpv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpeg.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG-2 Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpa</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>audio.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG-2 Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>mpeg4</string>
				<string>m4v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mp4</string>
			<key>CFBundleTypeName</key>
			<string>MPEG-4 File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>m4a</string>
			<key>CFBundleTypeName</key>
			<string>MPEG-4 Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>3gp.icns</string>
			<key>CFBundleTypeName</key>
			<string>3GPP File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mid</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>audio.icns</string>
			<key>CFBundleTypeName</key>
			<string>MIDI File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mka</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mka</string>
			<key>CFBundleTypeName</key>
			<string>Matroska Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mkv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mkv.icns</string>
			<key>CFBundleTypeName</key>
			<string>Matroska Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>webm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mkv.icns</string>
			<key>CFBundleTypeName</key>
			<string>WebM Video File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mks</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mkv.icns</string>
			<key>CFBundleTypeName</key>
			<string>Matroska Elementry Stream</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ssa</string>
				<string>ass</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ssa.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sub Station Alpha Subtitle File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>usf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>subtitles.icns</string>
			<key>CFBundleTypeName</key>
			<string>USF Subtitle File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>utf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>subtitles.icns</string>
			<key>CFBundleTypeName</key>
			<string>UTF Subtitle File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>srt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>srt</string>
			<key>CFBundleTypeName</key>
			<string>Subrip Subtitle File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>subtitles.icns</string>
			<key>CFBundleTypeName</key>
			<string>RealText Subtitle File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>smi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>subtitles.icns</string>
			<key>CFBundleTypeName</key>
			<string>SAMI Subtitle File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpBinaries</string>
				<string>mpbinaries</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>binaries.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPlayer Binary Package</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aac</string>
				<string>ac3</string>
				<string>aiff</string>
				<string>ape</string>
				<string>flac</string>
				<string>m4a</string>
				<string>mka</string>
				<string>mp3</string>
				<string>ogg</string>
				<string>pcm</string>
				<string>ra</string>
				<string>vaw</string>
				<string>waw</string>
				<string>wav</string>
				<string>wma</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>audio.icns</string>
			<key>CFBundleTypeName</key>
			<string>Audio file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp</string>
				<string>3iv</string>
				<string>asf</string>
				<string>avi</string>
				<string>asf</string>
				<string>bin</string>
				<string>cpk</string>
				<string>dat</string>
				<string>divx</string>
				<string>dv</string>
				<string>dvr-ms</string>
				<string>fli</string>
				<string>flv</string>
				<string>h264</string>
				<string>i263</string>
				<string>m1v</string>
				<string>m2t</string>
				<string>m2ts</string>
				<string>m2v</string>
				<string>m4v</string>
				<string>mkv</string>
				<string>mov</string>
				<string>mp2</string>
				<string>mp4</string>
				<string>mpeg</string>
				<string>mpg</string>
				<string>mpg2</string>
				<string>mpg4</string>
				<string>mpv</string>
				<string>mqv</string>
				<string>nut</string>
				<string>nuv</string>
				<string>nsv</string>
				<string>ogg</string>
				<string>ogm</string>
				<string>ogv</string>
				<string>qt</string>
				<string>ram</string>
				<string>rec</string>
				<string>rm</string>
				<string>rmvb</string>
				<string>ts</string>
				<string>vcd</string>
				<string>vfw</string>
				<string>vob</string>
				<string>wmv</string>
				<string>webm</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>movie.icns</string>
			<key>CFBundleTypeName</key>
			<string>Movie file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aqt</string>
				<string>ass</string>
				<string>idx</string>
				<string>jss</string>
				<string>rt</string>
				<string>smi</string>
				<string>srt</string>
				<string>ssa</string>
				<string>sub</string>
				<string>txt</string>
				<string>utf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>subtitles.icns</string>
			<key>CFBundleTypeName</key>
			<string>Subtitles file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>MPlayer OSX Help</string>
	<key>CFBundleHelpBookName</key>
	<string>MPlayer OSX Help</string>
	<key>CFBundleHomepage</key>
	<string>http://mplayerosx.sttz.ch/</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>hu.mplayerhq.mplayerosx.extended</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>rev15-test1</string>
	<key>CFBundleSignature</key>
	<string>MPHQ</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Real Time (Streaming) Protocol</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rtp</string>
				<string>rtsp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>File over HTTP/FTP/UDP</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>icyx</string>
				<string>udp</string>
				<string>ftp</string>
				<string>http_proxy</string>
				<string>http</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Microsoft Media Services</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mms</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Cuesheet</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cue</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>CD/DVD Media</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dvdnav</string>
				<string>dvd</string>
				<string>vcd</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1501</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.video</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>MPEBinaryMinRevision</key>
	<string>29777</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array/>
	<key>SUFeedURL</key>
	<string>http://mplayerosx.sttz.ch/updates.xml</string>
	<key>SUPrereleaseFeedURL</key>
	<string>http://mplayerosx.sttz.ch/prereleases.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array/>
	<key>UTImportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
